@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.todoBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  border: 3px solid #f29877;
  border-radius: 10px;
}

.todoBox-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px auto;
  font-size: 26px;
}

.listBox {
  width: 100%;
  position: relative;
}
.selectSection {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn-all {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(1, 39, 177);
  color: #fff;
}

.btn-all:hover {
  background-color: rgb(112, 139, 233);
}

.btn-doing {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(1, 122, 177);
  color: #fff;
}

.btn-doing:hover {
  background-color: rgb(112, 139, 233);
}

.btn-done {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(17, 178, 252);
  color: #fff;
}

.btn-done:hover {
  background-color: rgb(112, 139, 233);
}

.inputBox {
  height: 100px;
}

.input_box {
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 5px;
}

.inputTxt {
  width: 50%;
  padding-bottom: 5px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid rgb(160, 207, 248);
  background-color: transparent;
}

#addBtn {
  width: 10%;
  margin-left: 2px;
  border: none;
  border-radius: 5px;
  background-color: rgb(160, 207, 248);
}

#addBtn:hover {
  background-color: rgb(1, 122, 177);
}

.todo-list {
  width: 100%;
  height: 400px;
  overflow: auto;
  font-size: 15px;
  margin: 15px 0;
  padding-top: 5px;
}

.list {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  width: 13px;
  height: 13px;
  margin-right: 20px;
  background-color: rgb(1, 39, 177);
  color: white;
  border: 1px solid rgb(1, 39, 177);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  color: white;
}

.listLb {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delBtn {
  width: 12px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: none;
  background-color: transparent;
}

.delBtn:hover {
  color: rgb(249, 18, 75);
}

.allSelect-box {
  padding: 0 20px;
}
.allSelect {
  display: flex;
  justify-content: space-between;
}

.allCheck {
  color: black;
}

.allCheck:hover {
  color: rgb(164, 2, 43);
}

.allDelete {
  color: black;
  text-decoration: none;
}

.allDelete:hover {
  color: rgb(249, 18, 75);
}

.notice {
  color: rgb(164, 2, 43);
  font-size: 10px;
}

.listLb {
  padding-left: 20px;
}

.delBtn {
  margin-right: 20px;
}
