.todoBox {
  width: 800px;
  height: 800px;
  margin: 80px auto;
  border: 3px solid rgb(203, 229, 252);
  border-radius: 10px;
  background-color: aliceblue;
}

header {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  background-color: aliceblue;
}

.selectSection {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.btn-all {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: 2px solid rgb(1, 39, 177);
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(1, 39, 177);
  color: #fff;
}

.btn-all:hover {
  background-color: rgb(112, 139, 233);
}

.btn-doing {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: 2px solid rgb(1, 122, 177);
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(1, 122, 177);
  color: #fff;
}

.btn-doing:hover {
  background-color: rgb(112, 139, 233);
}

.btn-done {
  width: 100px;
  height: 30px;
  margin-right: 15px;
  border: 2px solid rgb(17, 178, 252);
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgb(17, 178, 252);
  color: #fff;
}

.btn-done:hover {
  background-color: rgb(112, 139, 233);
}

.inputBox {
  height: 100px;
}

.input_box {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.inputTxt {
  width: 80%;
  padding-bottom: 5px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid rgb(160, 207, 248);
  background-color: transparent;
}

#addBtn {
  border: 2px solid rgb(160, 207, 248);
  border-radius: 5px;
  background-color: rgb(160, 207, 248);
}

#addBtn:hover {
  background-color: rgb(1, 122, 177);
}

.todo-list {
  width: 100%;
  height: 400px;
  overflow: auto;
  font-size: 15px;
  margin: 15px 0;
}

.list {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

input[type='checkbox'] {
  width: 13px;
  height: 13px;
  margin-right: 20px;
  background-color: rgb(1, 39, 177);
  color: white;
  border: 1px solid rgb(1, 39, 177);
  cursor: pointer;
}

input[type='checkbox']:checked {
  color: white;
}

.listLb {
  width: 97%;
  display: inline-block;
  cursor: pointer;
}

.delBtn {
  width: 12px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: none;
  background-color: transparent;
}

.delBtn:hover {
  color: rgb(249, 18, 75);
}

.allSelect {
  display: flex;
  justify-content: space-between;
}

.allCheck {
  color: black;
}

.allCheck:hover {
  color: rgb(164, 2, 43);
}

.allDelete {
  color: black;
  text-decoration: none;
}

.allDelete:hover {
  color: rgb(249, 18, 75);
}

.notice {
  color: rgb(164, 2, 43);
  font-size: 10px;
}

/* $target-colors: (
   green-color: #789d34,
   red-color: #ac3d39,
   blue-color: #236367,
); */

/*
.gray-color {
  color: #f2ede4;
}
.blue-color {
  color: #30478c;
}
.orange-color {
  color: #f29877;
}
.brown-color {
  color: #8c3f3f;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');
h1,
h2,
p,
li,
span {
  font-family: 'Montserrat', sans-serif;
}

.Todotitle {
  font-size: 28px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.box {
  width: 90%;
  height: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px black solid; */

.appendbox {
  position: relative;
  width: 100%;
  /* border: 1px green solid; */
}

.appendbox::after {
  content: '';
  display: block;
}

#todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#whattodo {
  position: relative;
  width: 50%;
  height: 100%;
  font-size: 16px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #f2ede4;
}
#whattodo:focus {
  outline: 2px solid #f29877;
}

#whattodo:focus::placeholder {
  color: transparent;
}

#submitbtn {
  width: 100%;
  margin-left: 10px;
  height: 40px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
  /* border: 2px solid violet; */
}
#submitbtn:hover {
  outline: 2px solid #f29877;
}

#check {
  color: #30478c;
  font-size: 20px;
  background-color: #f2ede4;
}

.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  /* border: 3px red solid; */
  padding-left: 0;
}

.todo-box::after {
  content: '';
  display: block;
}

.li {
  display: flex;
  justify-content: space-between;
  background-color: #f2ede4;
  list-style: none;
  margin: 10px 0;
  width: 100%;
  height: 100%;
  /* border: 2px green solid; */
  padding: 10px 10px;
  border-radius: 15px;
  word-break: break-all;
  white-space: pre-wrap;
}

.li:hover {
  outline: 2px solid #f29877;
}

.span {
  width: 100%;
  height: 100%;
  font-size: 18px;
  /* border: 2px solid blue; */
  word-break: break-all;
  white-space: pre-wrap;
}

.delBtn {
  width: 40px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  color: #30478c;
  background-color: #f2ede4;
}

.delBtn:hover {
  outline: 2px solid #f29877;
}

/* 
가장 마지막에 SCSS REFACTORING

*/
